*{
  box-sizing: border-box;
}
body, html{
  margin:10px;
  padding:5px;
  line-height: 1.5;
  background-color:#ececec;
  font-family: 'Georgia';
}
h1{
   font: 25px;
   font-weight: 700;
}
h3{
  font-size: 18px;
  
}
.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.fas{
  font-size: 15px;
  padding-left: 20px;
  color:rgb(184, 175, 175);
  cursor: pointer;
}
.submit{
  width:100%;
  background-color: rgb(23, 92, 161);
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  font-size: 15px;
  letter-spacing: 1px;

}
button{
  margin:0 15px;
  padding: 5px 25px;
  border:none;
  outline:none;
  background-color: rgb(207, 40, 143);
  color:whitesmoke;
  border-radius: 5px;
  letter-spacing: 1px;
}
p, li{
  font-size: 1em;
  padding-top: 10px;
}
span{
  font-size:1.5em
}
.error {
  color: red;
  background: rgb(49, 38, 38);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media screen and (min-width: 870px) {
    input, .posting{
      width: 650px;
  }
  .container{
    width: 700px;
  }
  .submit{
    width:150px;
  }
}